<div id="signals">
    <div class="operationtemplatediv">
        <div class=" symboldiv ">
            <table>



                <th>Symbol </th>
                <th>cmd </th>
                <th>Price </th>
                <th>SL </th>
                <th>TP </th>
                <th></th>
                <tr *vjmodel="{{signals}}">
                    <td>{{symbol}} </td>
                    <td>{{cmd}} </td>
                    <td>{{price}} </td>

                    <td>{{sl}} </td>
                    <td>{{tp}} </td>
                    <td>
                        <button *vj:click="operateSignal({{i}})">Edit</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>