.container
    width: 50%
    height: 90vh
    margin-left: 20%
    margin-right: 20%
    padding-left: 5%
    padding-right: 5%  
    padding-top: 5vh  
    padding-bottom: 5vh          
    &--flex--column 
        display: flex;
        flex-direction: column;
        justify-content: center;
    &--hide
        display: none      

