<div id="wellcome">
    <div id="MenuH" class="menu menu--horizontal menu--tabcolor">
        <a id="iMenu">
            <img id="iMenu" class="menu--horizontal__imenu" src="../src/images/menu.svg" />
        </a> <label></label>

        <img id="bKO" src="./images/logout.svg" />
    </div>
    <!--  -->
    <div id="MenuV" class="menu menu--vertical menu--tabcolor container--hide  ">


        <label>Menu</label>
        <br>
        <br>
        <a class="menu--vertical__item" id="eDD">Drink Decoder</a>
        <a class="menu--vertical__item" id="eML">Maria Lunarillos</a>
        <a class="menu--vertical__item" id="eFor">Forex</a>
        <a class="menu--vertical__item" id="eHW">HotWheels</a>
    </div>
</div>