$color_primary: #F2E8DD
$color_secondary:    #A0A0A0
$color_tertiary: #CEC5C0
$color_highlight: #D8D0C8
$color_error:  #e94a62
$color_green: #38703b
$color_price: #0a62b4
$color_red:  #a8283b

@import "Container"
@import "Button"
@import "Input"
@import "Label"
@import "Cards"
@import "Menu"
@import "Form"
@import "Table"

body
    margin: 0
.hidden
    display: none
 