/* header h1 {
  color: red;
} */

* {
  font-family: "Roboto", sans-serif;
}

.title-red {
  color: green;
}

#username {
  background-color: rgb(255, 123, 0);
  color: white;
  position: absolute;
  bottom: 20px;
  left: 500px;
}

.form-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  border-radius: 20px;
}

.form-container input {
  margin-bottom: 10px;
}

.submit-button {
  border-radius: 20px;
  width: 20%;
  align-self: center;
}

.name-label {
  margin: 0 auto;
}
