/* header h1 {
  color: red;
} */

* {
  font-family: "Roboto", sans-serif;
}

.title-red {
  color: green;
}

#username {
  background-color: rgb(255, 123, 0);
  color: white;
  position: relative;
  bottom: 20px;
  left: 500px;
}

.form-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  border-radius: 20px;
}

.form-container input {
  margin-bottom: 10px;
}

.submit-button {
  border-radius: 20px;
  width: 20%;
  align-self: center;
}

.name-label {
  margin: 0 auto;
}

/* =================== */

#maria-lunarillos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiles-container {
  display: flex;
}

.horizontal-tiles-container {
  display: flex;
  flex-direction: column;
}

.tiles {
  background-color: red;
}

.vertical {
  width: 300px;
  height: 610px;
}

.right {
  margin-right: 10px;
}
.left {
  margin-left: 10px;
}

.horizontal {
  height: 300px;
  width: 610px;
  margin-bottom: 10px;
}

/* ============= */

.grid-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "box1 box2 box2"
    "box1 box3 box3"
    "box4 box4 box6"
    "box5 box5 box6";
}

.grid-item:nth-of-type(1) {
  grid-area: box1;
  width: 300px;
  height: 610px;
  background-color: lightgreen;
}
.grid-item:nth-of-type(2) {
  grid-area: box2;
  background-color: lightpink;
}
.grid-item:nth-of-type(3) {
  grid-area: box3;
  background-color: lightsalmon;
}
.grid-item:nth-of-type(4) {
  grid-area: box4;
  background-color: lightseagreen;
}
.grid-item:nth-of-type(5) {
  grid-area: box5;
  background-color: lightslategray;
}
.grid-item:nth-of-type(6) {
  grid-area: box6;
  display: none;
  background-color: lime;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
      "box5"
      "box6";
  }

  .grid-item:nth-of-type(1) {
    width: 300px;
    height: 100px;
  }
  .grid-item:nth-of-type(6) {
    display: block;
  }

  .submit-button {
    border-radius: 20px;
    width: 20%;
    align-self: center;
    background-color: mediumblue;
  }
}
