<div id="wellcome">
    <div id="MenuH" class="menu menu--horizontal menu--tabcolor">
        <!--   <a id="iMenu" class="menu__icon-menu"> -->
        <img id="iMenu" class="menu--horizontal__imenu" src="../vanillaJS/images/menu.svg" />
        </a> <label></label> <label id="lf"></label> <label id="ll"></label>

        <img id="bKO" src="../vanillaJS/images/logout.svg" />
    </div>
    <!--  -->
    <div id="MenuV" class="menu menu--vertical menu--tabcolor container--hide  ">


        <label>Menu</label>
        <br>
        <br>
        <a class="menu--vertical__item" id="eDD">Drink Decoder</a>
        <a class="menu--vertical__item" id="eML">Maria Lunarillos</a>
    </div>
</div>