<div id="log-in" class="">
    <img class="login_background" src="images/login.jpg">

    <div class="container container--flex--column  ">
        <label class="label label--title-app">APP-FOREX <img src="images/vanillaJS.jpg"></label>
        <label class="label label--title">Login</label>

        <input id="iU" class="input input--text" type="text" required></input>
        <br />
        <label class="label label--title">Password</label>

        <input id="iP" type="password" class="input input--password" required></input>
        <br />
        <button id="bOk" class="button button--save">OK</button>

        <a class=" button--right" href="https://es.xtb.com/acciones-contado-sin-comisiones-tdt-xtb?utm_source=google&utm_medium=cpc&utm_campaign=acciones_contado_sin_comision&utm_term=ES&utm_content=search&gclid=CjwKCAiA8ov_BRAoEiwAOZogwQpZ2fnUEHZz5FeI61WWIDbnfU8Fy2ZHHA8ftdnJ79cUY2k5zniYIhoC5TEQAvD_BwE"
            target="_blank"> Sig In XTB </a>

        <label id="lError" class="label label--error">Wrong Login or Passwords</label>
    </div>
</div>