<div id="log-in" class="container container--flex--column">
    <label class="label label--title">Login</label>
    <br></br>
    <input id="iU" class="input input--text" type="text" required></input>
    <br></br>
    <label class="label label--title">Password</label>
    <br></br>
    <input id="iP" type="password" class="input input--password" required></input>
    <br></br>
    <button id="bOk" class="button button--save">OK</button>
    <br></br>
    <button id="bR" class="button button--register">SIGN IN</button>
    <br></br>
    <label id="lError" class="label label--error">Wrong Login or Passwords</label>
</div>