input[type='search'] {
    cursor: pointer;
    width: 210px;
}

.symboldiv {
    align-self: center !important;
}

select {
    cursor: pointer;
    width: 210px;
    position: relative;
    height: 20px;
}

.select_option--hide {
    display: none;
}

.symboltemplate {
    padding: 5px;
    border-style: dashed;
    border-width: 1px;
    width: 200px;
    height: 120px;
    font-size: 12px;
}

.symboltemplate__item--title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.symboltemplate__item--green {
    color: green
}

.symboltemplate__item--red {
    color: red
}

.symboltemplate__item--green-light {
    color: rgb(107, 136, 107)
}

.symboltemplate__item--red-light {
    color: rgb(252, 198, 198)
}

.updatedate {
    left: 50px;
    position: absolute;
    top: 2px;
}