.divFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90vw;
  height: 400px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.generalContainer__item--thirdContainer__item{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e8e6e5;

  text-align: center;
}

.generalContainer__item--thirdContainer__item > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.generalContainer__item--thirdContainer__item > div > span {
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 60px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-transform: uppercase;
}

.generalContainer__item--thirdContainer__item label:nth-child(2) {
  font-size: calc(5px + 0.7vw);
  font-weight: bolder;
}

.generalContainer__item--thirdContainer__item label:nth-child(4) {
  font-size: calc(4px + 0.5vw);
  font-weight: lighter;
}

.divFlex > div {
  padding: 5px;
}

.divFlex img {
  width: 100%;
  height: 100%;
}

.divFlex .one {
  flex: 0 0 100%;
  width: 30vw;
}

.divFlex .two {
  flex: 0 0 50%;
  width: 57vw;
}

.divFlex .three {
  flex: 0 0 50%;
  width: 57vw;
}

.divFlex .four {
  width: 30vw;
  flex: 0 0 100%;
}

.divFlex .five {
  width: 57vw;
  flex: 0 0 50%;
}

.divFlex .six {
  width: 57vw;
  flex: 0 0 50%;
}

@media only screen and (max-width: 650px) {
  .divFlex .one,
  .divFlex .two,
  .divFlex .three,
  .divFlex .four,
  .divFlex .five,
  .divFlex .six {
    width: 90vw;
    flex: 0 0 50%;
  }

  .generalContainer__item--thirdContainer__item {
    flex-direction: column;
  }
  .divImgs
  {
    display: none !important;;
  }

  .iMenu
  {
    display:block !important;
  }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .generalContainer__item--thirdContainer__item {
    flex-wrap: wrap;
    justify-content: right;
  }

  .generalContainer__item--thirdContainer__item div > span {
    margin-left: 15vw;
    margin-right: 15vw;
  }

  .divImgs img
  {
    width: 10vw !important;
    height: 10vw !important;
  }
  .iMenu
  {
    display:none;
  }
}
