$color_grey: #f8f8f8;
$color_red: #ff5959;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin dimension($w, $h) {
  width: $w;
  height: $h;
}

%displayFlexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

%displayFlexColumn {
  display: flex;
  flex-direction: column;
  
  flex-wrap: wrap;
}

%titleborder {
  text-align: center;
  margin: 0 auto;
  border-top: 2px solid #2e2925;
  border-bottom: 2px solid #2e2925;
}

@import "_ScssFlex";
@import "_ScssGrid";
@import "_ScssFloat";
@import "_ScssSlider";

body {
  margin: 0px !important;
}
.generalContainer {
  @extend %displayFlexColumn;
  text-align: center;
}
.facebook {
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg);
  background-origin: padding-box;
  background-position-x: -4px;
  background-position-y: -54;
}
.secondContainer {
  padding-top: 70px;
  @extend %displayFlexColumn;
  background-color: $color_grey;
}
.title {
  display: block;
  width: 218px;
  @extend %titleborder;
}
.containerUtlis {
  @extend %displayFlexRow;
  margin-top: 5vw;
}
.iUtilsabs > img {
  position: relative;
  top: 60px;
}
.iconX {
  background-image: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/icons/menu.svg);
  background-position-x: -400px;
  background-position-y: 0px;
  background-size: 700px;
  box-sizing: border-box;
  color: $color_red;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 100px;
  letter-spacing: 1px;
  line-height: 23.25px;
  margin: 0px;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
}
.dMenu {
  @extend %displayFlexColumn;
  background-color: $color_grey;
  @include dimension(100%,50px); 
}
.iMenu {
  
  @include dimension(50px,50px); 
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/burger_menu.png)
    no-repeat center left;
  text-indent: -999999px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin-left: 15px;
  cursor: pointer;
}
.divStyles {
  z-index: 9999;
  margin: 10px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  > div {
    float: right;
  }
  input {
    cursor: pointer;
  }
}
.dLeft {
  > img {
    float: left;
  }
  margin: 4vw;
}
.icon1 {
  width: 88px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg)
    0 -38px no-repeat transparent;
}
.icon2 {
  width: 58px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -90px -38px
    no-repeat;
}
.icon3 {
  width: 68px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -150px -36px
    no-repeat transparent;
}
.icon4 {
  width: 80px;
  background: url(https://www.marialunarillos.com/skin/frontend/default/newdesign2017/images/sprite.svg) -223px -38px
    no-repeat transparent;
}
.firstContainer {
  display: flex;
  justify-content: flex-end;
  img {
    background-color: $color_grey;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
    width: 95px;
    height: 95px;
    &:hover {
      background-color: $color_red;
    }
  }
}
.dFooter {
  background-color: $color_red;
  padding: 20px;
  color: white;
}

 
.firstContainer
.secondContainer
/* ,.thirdContainer   */
 
{
  display: none !important;
}
 