<div id="operations">
    <div class="operationtemplatediv">
        <div class="symboldiv">

            <table *vjmodel="{{operation}}">
                <tr>
                    <td>Order : {{order}} </td>
                </tr>
                <tr>
                    <td>CMD : {{cmd}} </td>
                </tr>
                <tr>
                    <td>Symbol : {{symbol}} </td>
                </tr>
                <tr>
                    <td>Stop Lost : {{sl}}
                        <input id="isl" type="number" step=".01" value='{{sl}}'>
                    </td>
                </tr>

                <tr>
                    <td>Take Profit : {{tp}}
                        <input id="itp" type="number" step=".01" value='{{tp}}'>
                    </td>
                </tr>
                <tr>
                    <td>Volume :{{volume}} <input id="iv" type="number" step=".01" value='{{volume}}'> </td>
                </tr>
                <tr>
                    <td>Price : {{price}} <input id="ip" type="number" step=".01" value='{{price}}'> </td>
                </tr>
                <tr>
                    <td>
                        <button *vj:click="saveOperation({{order}})">Save</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="lError" class="label label--error"></label>
                    </td>
                </tr>

            </table>



        </div>
    </div>
</div>