<div id="symbols">
    <div class="symboltemplatediv">
        <div class=" symboldiv ">

            <input placeholder="Search a figure... " *vj:change="changeSearch()" type="search " />
            <button id="badd" *vj:click="addNew()">+</button>
            <br> <select *vj:change="changeFigure() " class="select ">
                <option *vjmodel='figures' class="{{visible}} " value="{{symbol}} ">{{description}} > <label class="{{high_color}} "></label> {{bid}} {{currency}}</label></option>
                </option>
            </select>
            <br>
            <div *vjmodel="{{figureSelected}} " class="symboltemplate ">
                <button *vj:click="operateBuy({{symbol}})">Buy</button> <button *vj:click="operateSell({{symbol}})">Sell</button> <button *vj:click="operateSignal({{symbol}})">Signal</button>
                <br>
                <label>Symbol {{symbol}}</label><br>
                <label>Type {{categoryName}}</label><br>
                <label>Description {{description}}</label><br>
                <label class="{{high_color}} ">High {{high}} {{currency}}</label><br>
                <label class="{{ask_color}} ">Ask {{ask}} {{currency}}</label><br>
                <label class="{{bid_color}} ">Bid {{bid}} {{currency}}</label><br>
                <label class="{{low_color}} ">Low {{low}} {{currency}}</label><br>
                <label>Time {{timeString}}</label>


            </div>
            <br>
            <label *vjmodel="{{updatedate}}">{{ldate}} {{literal}} </label>
            <button *vj:click="changeLive()">Go!</button>

        </div>
    </div>
</div>