<div id="drinkdeco">

    <div class="container container--flex--column">

        <span class="label label--title">CHOOSE DRINK</span>
        <ul class="list" id="ulD">
            <li class="list__item" value="-1">Coffe</li>
            <li class="list__item" value="-2 ">Tea</li>
        </ul>

        <span class="label label--title">CHOOSE SIZE</span>
        <ul class="list" id="ulS">
            <li class="list__item list__item--selected" value="1">S</li>
            <li class="list__item" value="2">M</li>
            <li class="list__item" value="3">L</li>

        </ul>

        <span class="label label--title">ADD TOPPIN</span>
        <ul class="list" id="ulT">
            <li class="list__item" value="1">Soya</li>
            <li class="list__item" value="2">Milk</li>
            <li class="list__item" value="3">Mokka</li>
        </ul>

        <span class="label label--title">DESCRIPTION</span>
        <label id="Ldesc"></label>

        <span class="label label--title">COST</span> <label id="Lcost"></label>

    </div>
</div>